git+https://github.com/AlessandroCesaTs/gym-ergojr.git
gymnasium==1.0.0a2
gymnasium==0.29.1
matplotlib==3.9.2
numpy==2.1.1
opencv_python==4.10.0.84
pandas==2.2.2
pybullet==3.2.0
stable_baselines3==2.3.2